<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Globant's Data Engineering Challenge</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: green;
            font-size: 24px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            margin: 10px 0;
        }
        a {
            background-color: green;
            color: white;
            padding: 10px 10px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <h1>Welcome to Globant's Data Engineering Challenge!</h1>
    <p>To proceed with the CSV file upload, go to <a href="/upload">/upload</a>.</p>

    <p>To review the Employee Hiring Analysis for 2021 by Department and Job, go to <a href="/employees_hired_job_dep">/employees_hired_job_dep</a>.</p>
    
    <p>To view the Employees Hired Above the Mean of 2021, go to <a href="/employees_hired_more_mean_2021">/employees_hired_more_mean_2021</a>.</p>
</body>
</html>
